* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #925f84;

}

.container {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: rgb(94, 54, 47);
    border: 2px solid rgb(226, 218, 218);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
}

#resetButton {
    padding: 10px 20px;
    background-color: rgb(144, 160, 93);
    color: white;
    border: none;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    font-size: 1.2rem;
}
